server:
  port: 8100

management:
  security:
    enabled: false    # /routes 및 full actuactor 활성화.

zuul:
#  include-debug-header: true   # response header 에 debug header 추가.
#  debug:
#    request: true              # /trace 에서 request history 출력.
  forceOriginalQueryStringEncoding: true
  routes:
    THE-MOVIE-DB:
      path: /mdb-api/v3/**
      url: https://api.themoviedb.org/3

logging:
  level:
    org.springframework.cloud.netflix.zuul: INFO
    apigw.zuul: INFO