build/
*.swp
.gradle
vagrant/.vagrant
data
.idea/
bin/
out/

.metadata
tmp/
*.tmp
*.bak
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Eclipse Core
.project

# Locally stored "Eclipse launch configurations"
*.launch

# JDT-specific (Eclipse Java Development Tools)
.classpath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target